'.source.lua':
  'Function Tick':
    'prefix': 'tick'
    'body': """
      function tick(dt)
        -- every tick
        $1
      end
    """
  'Function Update':
    'prefix': 'update'
    'body': """
      function update(dt)
        -- update every frame
        $1
      end
    """